# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/

# Ignore ML model
/models/random_forest_model.pkl
*.pkl